Batonezas.Database/bin/
Batonezas.Database/bin/
Batonezas.Database/obj/
Batonezas.Database/obj/
Batonezas.Database/obj/
Batonezas.Database/obj/
Batonezas.WebApi.Tests/bin/
Batonezas.WebApi.Tests/bin/
Batonezas.WebApi.Tests/bin/
Batonezas.WebApi.Tests/bin/
Batonezas.WebApi.Tests/obj/
Batonezas.WebApi.Tests/obj/
Batonezas.WebApi.Tests/obj/
Batonezas.WebApi/bin/
Batonezas.WebApi/bin/
Batonezas.WebApi/obj/
Batonezas.WebApi/obj/
Batonezas.WebApi/obj/